---
import type { HTMLAttributes } from 'astro/types';
import { buttonBaseStyles, buttonVariants, type ButtonVariant } from '@lib/buttonStyles';

interface BaseProps {
  variant?: ButtonVariant;
  class?: string;
}

type AnchorProps = BaseProps &
  HTMLAttributes<'a'> & {
    href: string;
  };

type ButtonProps = BaseProps &
  HTMLAttributes<'button'> & {
    href?: never;
  };

type Props = AnchorProps | ButtonProps;

const { variant = 'primary', class: className = '', ...rest }: Props = Astro.props;

const combinedClass = `${buttonBaseStyles} ${buttonVariants[variant]} ${className}`;
const isAnchor = 'href' in rest && rest.href !== undefined;
---

{
  isAnchor ? (
    <a class={combinedClass} {...(rest as HTMLAttributes<'a'>)}>
      <slot />
    </a>
  ) : (
    <button class={combinedClass} {...(rest as HTMLAttributes<'button'>)}>
      <slot />
    </button>
  )
}
